/* @import url(framework.css); */



/* body style */
* {
	margin: 0 auto;
	text-align: center;
}
body {
	background-color: #eee
}

.all-row {
	width: 100%;
}

.half-row {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;
}

/* default border */
.default-border {
	border: 1px red solid;
}

/* Header*/
.header {
	margin-top: 35px;
}

.logo-img{
	float: left;
	width: 70px;
	padding-left: 10px;
}

.big-title {
	font-size: 30px;
	font-family: Poiret One;
	color: #d5d3d3;
}

.middle-title {
	font-size: 12px;
	font-family: Questrial;
	color: #6f6f6f;
}

.head-hr {
	border-top:3px solid #555;

}

.main-img{
	width: 100%;
}

/* Footer */
.footer {
	margin-bottom: 30px;
}

.footer-title {
	text-align: left;
	font-size: 30px;
	padding-left: 20px;
	color: #bdc9d3;
}

.item-title {
	color: #39414b;
	font-family: Open Sans;
}

