<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>
    <title>User's Blog</title>
</head>

<body>
<div class="main-title" style="text-align: center;color:blue;">
    <a href="/welcome">profile</a>&nbsp;&nbsp;<a href="/myblog">myblog</a>&nbsp;&nbsp;<a href="/allblog">allblog</a>&nbsp;&nbsp;<a
        href="/blog">new post</a><br>
</div>
<div id="container">

    <div id="page" style="margin: 0 auto">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>

</html>

